---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

---

<html lang="en">
  <head>
    <MainHead title="Not Found" />
  </head>
  <body>
    <Nav />
    <div class="wrapper mt4 mb4">
      <h1>Página no encontrada</h1>
      <p>Salvo que lo que quisieras encontrar fuese esta página. En tal caso, enhorabuena.</p>
    </div>
    <Footer />
  </body>
</html>
