---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

---

<html lang="en">
  <head>
    <MainHead title="42 Cybersec" description="Web oficial de la asociación de estudiantes de ciberseguridad de 42 Madrid Fundación Telefónica" />
    <style lang="scss">
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>Sobre la liga</h1>
      <div class="heroImg">
        <img width="1400" height="350" src="https://images.unsplash.com/photo-1585079542156-2755d9c8a094?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80?auto=format&fit=crop&w=1400&h=350&q=75" />
      </div>
      <div class="bio wrapper wrapper__readable mt8">
        <p>
          42 Cybersec es la asociación de estudiantes que promueve actividades y eventos relacionados con la ciberseguridad y el hacking ético.
        </p>
        <p>
          Utilizamos un canal privado en Slack para comunicarnos, enviar información interesante y anunciar eventos futuros. Si quieres ser parte, contacta con 
          <a href="https://profile.intra.42.fr/users/darodrig">@darodrig</a>,
          <a href="https://profile.intra.42.fr/users/dpuente-">@dpuente-</a>
          o
          <a href="https://profile.intra.42.fr/users/juanrodr">@juanrodr</a>

        </p>

      </div>
    </div>
    <Footer />
</body>
</html>
